.loginregist
  .header
    = image_tag src="logo.png"
  .loginregist__form
    = form_with url:root_path do |f|
      .formfield
        .formfield__label--normal
          = f.label :nickname, 'ニックネーム'
        .formfield__input--normal
          = f.text_field :nickname, autofocus: true
      .formfield
        .formfield__label--normal
          = f.label :email, 'メールアドレス'
        .formfield__input--normal
          = f.text_field :email
      .formfield
        .formfield__label--normal
          = f.label :password, 'パスワード'
          %i (英数字7文字以上)
        .formfield__input--normal
          = f.text_field :password, autocomplete: "off"
      .formfield
        .formfield__label--normal
          = f.label :password_confirmation, 'パスワード(再)'
        .formfield__input--normal
          = f.text_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "次へ", class: 'ButtonNext'
  .footer
    = image_tag src="logo.png"
    ©︎ nisekari from team e