= render "items/header"
= render "layouts/notifications"
- breadcrumb :mypage
.Wrapper
  .Page-contents  
    .User-info
      .Avatar
      .Name
        = current_user.nickname
      .Edit-user
        = link_to '#' do
          編集
    .Deal
      .Deal-heading 
        購入した商品
      .Deal-heading 
        取引中
      .Deal-now
      .Deal-heading 
        過去の取引
      .Deal-old
    .Mypage-menu
      .Menu-list
        = link_to '#' do
          マイページ
      .Menu-list
        = link_to '#' do
          お知らせ
      .Menu-list
        = link_to '#' do
          やることリスト
      .Menu-list
        = link_to '#' do
          いいね！一覧
      .Menu-list
        = link_to new_item_path do
          出品する
      .Menu-list
        = link_to '#' do
          下書き一覧
      .Menu-list
        = link_to '#' do
          出品した商品-出品中
      .Menu-list
        = link_to '#' do
          出品した商品-取引中
      .Menu-list
        = link_to '#' do
          出品した商品-売却済み
      .Menu-list
        = link_to '#' do
          購入した商品-取引中
      .Menu-list
        = link_to '#' do
          購入した商品-過去の取引
      .Menu-list
        = link_to '#' do
          ニュース一覧
      .Menu-list
        = link_to '#' do
          評価一覧
      .Menu-list
        = link_to '#' do
          ガイド
      .Menu-list
        = link_to '#' do
          お問い合わせ
    .Setting
      %p 設定
      .Setting-list
        = link_to '#' do
          プロフィール
      .Setting-list
        = link_to '#' do
          発送元・お届け先住所変更
      .Setting-list
        = link_to new_credit_card_path do
          クレジットカード登録
      .Setting-list
        = link_to credit_card_path(current_user) do
          クレジットカード詳細
      .Setting-list
        = link_to '#' do
          メール/パスワード
      .Setting-list
        = link_to '#' do
          本人情報
      .Setting-list
        = link_to '#' do
          電話番号の確認
      .Setting-list
        = link_to destroy_user_session_path, method: :delete do
          ログアウト
.main
  = render "items/footer"