.loginregist
  .centerfield
    .loginregist__header
      .loginregist__logo
        = link_to root_path do
          = image_tag "material/logo/logo.png"
        .registtitle
          %p ログイン
    .loginregist__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .loginregist__form__field
          .formfield__label--normal
            = f.label :email, "email"
          .formfield__input--normal
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .loginregist__form__field
          .formfield__label--normal
            = f.label :password, "パスワード"
          .formfield__input--normal
            = f.password_field :password, autocomplete: "current-password"
          .remember
            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              = f.label :remember_me
        .loginregist__form__actions
          = f.submit "ログイン", class: 'ButtonNext'
        .loginregist__form__actions
          = link_to user_facebook_omniauth_authorize_path, method: :post do
            %button.ButtonFacebook
              %p.login-icon
                = icon('fab', 'facebook-square')
              %p.login-where
                Facebookでログイン
        .loginregist__form__actions
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
            %button.ButtonGoogle
              %p.login-icon
                = icon('fab', 'google')
              %p.login-where
                Googleでログイン
        .loginregist__form__login
          %p アカウントをお持ちでない方
          = render "devise/shared/links"
.loginregist__footer
  .loginregist__logo
    = image_tag "material/logo/logo-white.png"
  ©︎ nisekari from team e
