= render "/items/header"
.search-wrapper
  .search-container
    .search-right
      %section.items-box-container
        -if @search.present?
          %h2.search-result-head
            %span.search-result-head-text
              商品の検索結果
          .search-result-number
            ="1-#{@items.count}件表示"
        -else
          %h2.search-result-nil
            検索結果
          .search-result-number
            ="1-#{@items.count}件表示"
        .items-box-content
        
      .productLists
        - @items.each do |item|
          .productList
            = link_to item_path(item), class: "a" do
              %figure.product-img
                - item.item_images.first(1).each do |img|
                  = image_tag "#{img.url}", class: 'img'
                - if item.buyer_id.present?
                  .itembox
                    .itembox-sold
                      soldout
              .productList-body
                %h3 #{item.name}
                .details
                  %ul
                    %li #{item.price}円
                    %li
                      %i.fa.fa-star.likeIcon
                      1
                  %p （税込）
    .detail_search
      = search_form_for @q, url: search_items_path ,html: { method: :get } do |f|
        .detail_search_sort
          = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
        .detail_search_form
          .detail_search__title
            %h3 詳細検索
          .detail_search__group
            .detail_search__group--label
              -# = fa_icon "search"
              %p キーワードを追加する
            = f.search_field :name_cont, placeholder: "例）値下げ"
          .detail_search__group
            .detail_search__group--label
              -# = fa_icon "search"
              %p 価格
            .detail_search__group--forms
              = f.search_field :price_gteq, placeholder: "¥ Min"
              %p 〜
              = f.search_field :price_lteq, placeholder: "¥ Max"
          .detail_search__group
            .detail_search__group--label
              -# = fa_icon "search"
              %p 商品の状態
            .detail_search__group--checkbox
              %label
                %input{type: "checkbox"}
                = 'すべて'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},0, nil
                = '新品、未使用'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},1, nil
                = '未使用に近い'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},2, nil
                = '目立った傷や汚れなし'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},3, nil
                = 'やや傷や汚れあり'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},4, nil
                = '傷や汚れあり'
            .detail_search__group--checkbox
              %label
                = f.check_box :item_condition_id_in, {},5, nil
                = '全体的に状態が悪い'
          .detail_search__btns
            .detail_search__btn--grey
              = link_to "クリア", "/searches",type: "button"
            = f.submit "完了"

.items-box-content
= render "/items/aside"
= render "/items/footer"